 <li>
          <a class="nwo-cat-btn social-button brand-category" href="#home-tab" data-change-cat="twitter" data-value="2"><i class="fab fa-twitter"></i> Twitter</a>
        </li>
        <li>
          <a class="nwo-cat-btn social-button brand-category" href="#home-tab" data-change-cat="instagram" data-value="3"><i class="fab fa-instagram"></i> Instagram</a>
        </li>
        <li>
          <a class="nwo-cat-btn social-button brand-category" href="#home-tab" data-change-cat="youtube" data-value="4"><i class="fab fa-youtube"></i> Youtube</a>
        </li>
        <li>
          <a class="nwo-cat-btn social-button brand-category" href="#home-tab" data-change-cat="linkedin" data-value="5"><i class="fab fa-linkedin"></i> Linkedin</a>
        </li>
        <li>
          <a class="nwo-cat-btn social-button brand-category" href="#home-tab" data-change-cat="tiktok" data-value="6"><i class="fab fa-tiktok"></i> Tiktok</a>
        </li>
        <li>
          <a class="nwo-cat-btn social-button brand-category" href="#home-tab" data-change-cat="telegram" data-value="7"><i class="fab fa-telegram-plane"></i> Telegram</a>
        </li>
		<li>
          <a class="nwo-cat-btn social-button brand-category" href="#home-tab" data-id="spotify" data-value="8"><i class="fab fa-spotify"></i> Spotify</a>
        </li>
		<li>
          <a class="nwo-cat-btn social-button brand-category" href="#home-tab;" data-change-cat="soundcloud" data-value="9"><i class="fab fa-soundcloud"></i> Soundcloud</a>
        </li>
		<li>
          <a class="nwo-cat-btn social-button brand-category" href="#home-tab" data-change-cat="traffic" data-value="10"><i class="fas fa-globe"></i> Website Traffic</a>
        </li>
		<li>
          <a class="nwo-cat-btn social-button brand-category" href="#home-tab;" data-change-cat="other" data-value="11"><i class="fas fa-asterisk"></i> Others</a>
        </li>
		<li>
          <a class="nwo-cat-btn social-button brand-category" href="#home-tab" data-change-cat="" data-value="12"><i class="fab fa-audible"></i> Everything</a>
        </li>